@use '../../base/variables' as v;
@use '../../base/mixins' as m;


.header {
    min-height: 50vh;
    display: grid;
    grid-template-rows: auto 1fr;

    @include m.tablet-2 {
        min-height: 95vh;
    }
    

    &__barra {
        position: relative;
        padding: 2.5rem 0;
        @include m.flex(row, 0);
        justify-content: space-between;

        &::after {
            content: '';
            position: absolute;
            background-image: url('../assets/img/vector-header-bg-logo.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 27rem;
            height: 7rem;
            top: 125%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 5;
            

            @include m.tablet-2 {
                width: 30rem;
            }
            
        }

        @include m.tablet-2 {
            padding: 3.5rem 0;
        }
    }

    &__contacto {
        @include m.flex(row, 1rem);
        justify-content: space-between;
        align-items: center;

        a img {
            width: 2.8rem;
            height: 2.8rem;
        }

        p {
            font-size: 1.6rem;
            display: none;

            @include m.desktop {
                display: block;
            }
        }
    }

    &__logo {
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translate(-50%, -50%);
        min-width: 16rem;
        width: 16%;
        max-width: 19rem;
        z-index: 10;

        @include m.tablet-2 {
            width: 21%;
        }

        & img {
            width: 100%;
            height: auto
        }
    }

    &__menu {
        @include m.flex(column, 0);
    }

    &__menu-abrir,
    &__menu-cerrar {
        cursor: pointer;
        width: 2.8rem;
        height: 2.8rem;


        @include m.tablet {
            width: 3rem;
            height: 3rem;
        }

        @include m.desktop-2 {
            display: none;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__menu-contenido { //bloque que se abre con btn-hamb
        background-color: lighten( v.$bgBody, 3%);
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%);
        z-index: 100;
        height: 100dvh;
        width: 100%;
        transition: all ease 0.5s;
        

        @include m.flex(column, 0);

        @include m.telefono {
            width: 60%;
        }

        @include m.telefono-2 {
            width: 45%;
        }

        @include m.mq(900px) {
            width: 32%;
        }

        @include m.mq(1100px) {
            width: 30%;
        }

        @include m.desktop-2 {
            display: block;
            position: static;
            padding: 0;
            transform: translate(0);
            width: auto;
            height: auto;
            background-color: v.$bgBody;
        }
    }

    &__menu-top {
        @include m.flex(row, 0);
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        /* background-color: lighten(v.$bgBody, 2%); */

        @include m.desktop-2 {
            padding: 0;
        }
    }

    &__menu-cerrar {
        align-self: end;
        cursor: pointer;
        width: 3.5rem;
        height: 3.5rem;
    }
    
    &__hero {
        background-image: url(../assets/img/bg-1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__hero-contenido {
        height: 100%;
        @include m.flex(column, 2rem);
        justify-content: center;
    }

    &__btn-light {
        @include m.boton(transparent, v.$secundario);
    }
}

.nav {
    padding: 2.5rem;
    overflow-y: auto;

    &::-webkit-scrollbar { 
        width: 0.8rem; 
        background: lighten(v.$bgBody, 65%);
        border-radius: 1rem;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: lighten(v.$bgBody, 15%);
        border-radius: 1rem;
    }

    @include m.desktop-2 {
        overflow-y: visible;
        padding: 0
    }

    &__lista {
        height: 100%;
        @include m.flex(column, initial);

        @include m.desktop-2 {
            @include m.flex(row, 1.5rem);
            align-items: center;
        }
    }

    li {
        position: relative;
    }

    &__item--despliega > &__btn-abrir > img {

        @include m.desktop-2 {
            display: none;
        }
    }

    &__btn-abrir {

        @include m.flex(row, 0);
        justify-content: space-between;
        align-items: center;
        transition: all .3s;
        height: min-content;

        @include m.desktop-2 {
            gap: 1rem;
        }
    }

    &__link {
        display: block;
        color: v.$secundario;
        font-size: 1.6rem;
        margin: 1rem 0;
        line-height: normal;

        @include m.desktop-2 {
            margin: 0;
        }
    }

    .arrow &__arrow {
        transform: rotate(90deg);
    }

    &__arrow {
        width:2rem;
        height: 2rem;
        transition: transform .3s;
    }

    &__submenu {
        @include m.flex(column, 0);
        border-left: 1px solid darken(v.$secundario, 60%);
        height: 0;
        overflow: hidden;
        transition: height .4s;

        @include m.desktop-2 {
            padding: 1.2rem;
            height: auto;
            position: absolute;
            width: 20rem;
            border: none;
            background-color: transparentize(v.$bgBody, 0.2);
            backdrop-filter: blur(10px);
            overflow: visible;
            border-radius: 0.5rem;
            display: none;

        }

        li {
            width: 90%;
            margin-left: auto;
            padding-top: 0.1px;

            @include m.desktop-2 {
                width:  100%;
                margin-left: 0;
                overflow: visible;
            }
        }

        a {
            transition: transform .3s ease;

            @include m.desktop-2 {
                margin: 0.8rem 0;
            }
        }
    }

    &__submenu--nivel1 {
        @include m.desktop-2 {
            top: calc(100% + 4.3rem);
            left: 110%;
            transform: translateX(-50%);
        }
    }

    &__submenu--nivel2,
    &__submenu--nivel3 {
        @include m.desktop-2 {
            top: 0;
            right: -215px;
            display: none;
        }
    }

    &__submenu-item a:hover {
        transform: translateX(10px);
    }

    &__submenu-item--despliega > &__btn-abrir:hover a {
        transform: translateX(10px);
    }

}

